<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>{$admin_title['name']}</title>
  <link rel="stylesheet" href="/assets/login/index-f1e20bd0.css">
  <link rel="stylesheet" href="/assets/login/request-03ab4c0d.css">
  <link rel="stylesheet" href="/assets/login/login-7bf2d5cd.css">
  <link rel="stylesheet" href="/assets/login/el-dialog-e409f358.css">
  <link rel="stylesheet" href="/assets/login/el-input-b0881e54.css">
  <link rel="stylesheet" href="/assets/login/el-tab-pane-eecd8b5a.css">
  <link rel="stylesheet" href="/assets/login/el-col-6b49831e.css">
  <link rel="stylesheet" href="/assets/login/el-button-2cb60ae5.css">
  <link rel="stylesheet" href="/assets/login/el-checkbox-e117c7b0.css">
  <link href="__libs__/layer/skin/layer.css?v=__lkversion__" type="text/css" rel="stylesheet" />
  <script src="__libs__/layer/layer.js?v=__lkversion__" type="text/javascript"></script>
  <script>
    YMWL_ROOT_URL = '{:request()->root()}';
  </script>
</head>

<body class="el-popup-parent--hidden">
<div id="app" data-v-app="" style="background: #2a6afd">
  <div data-v-1946652a="" data-v-cf604d70="" class="warp flex align-center just-center warpbg" style="background: url(/assets/login/download-a07d1503.jpg) top;">
    <div data-v-1946652a="" data-v-cf604d70="" class="login-content bg-white">
      <!--<div data-v-1946652a="" data-v-cf604d70="" class="logo-box bg-them flex align-center just-center t-white">-->
      <!--  <img  src="/assets/images/admin/avatar-admin2.png" width="100%"></div>-->
      <div data-v-1946652a="" class="el-tabs el-tabs--top">
        <div class="el-tabs__header is-top"><!---->
          <div class="el-tabs__nav-wrap is-top"><!---->
            <div class="el-tabs__nav-scroll">
              <div class="el-tabs__nav is-top" style="transform: translateX(0px);" role="tablist">
                <div class="el-tabs__active-bar is-top" style="width:50%;transform: translateX(0px);">
                </div>
                <div class="el-tabs__item is-top is-active" id="tab-0" aria-controls="pane-0" role="tab"
                     aria-selected="true" tabindex="0">卡密登录<!---->
                </div>
                <div class="el-tabs__item is-top" id="tab-1" aria-controls="pane-1" role="tab"
                     aria-selected="false" tabindex="-1">卡密续费<!---->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="el-tabs__content">
          <div data-v-1946652a="" id="pane-0" class="el-tab-pane" role="tabpanel" aria-hidden="false" aria-labelledby="tab-0" style="">
            <!--<form method="post"  class="am-form" data-submit data-am-validator>-->
              <div data-v-1946652a="" class="el-input el-input--large"><!-- input --><!-- prepend slot -->
                <!--v-if-->
                <div class="el-input__wrapper"><!-- prefix slot --><!--v-if-->
                  <input type="text" name="username" id="kami" lay-verify="required" placeholder="登录卡密" class="el-input__inner">
                  <!-- suffix slot --><!--v-if-->
                </div><!-- append slot --><!--v-if-->
              </div>
              <label data-v-1946652a="" class="gouxian el-checkbox is-checked el-checkbox--large">
                                <span class="el-checkbox__input is-checked">
                                    <input class="el-checkbox__original" type="checkbox" aria-hidden="false" true-value="1" false-value="0" checked=""  name="checkbox" value="1">
                                    <span class="el-checkbox__inner"></span>
                                </span>
                <span class="el-checkbox__label">
                                    <span data-v-1946652a="" class="consent">请阅读并同意</span>
                                    <span data-v-1946652a="" class="agreement">《用户协议&amp;隐私政策》</span>
                                </span>
              </label>
              <input type="hidden" name="business_id" value="{$business_id|default=''}">
              <button data-v-1946652a="" ariadisabled="false" id="submit_login" class="el-button el-button--primary el-button--large button-block"><!--v-if-->
                <span class="el-button__text--expand">登录</span>
              </button>
            <!--</form>-->
          </div>

          <div data-v-1946652a="" id="pane-1" class="el-tab-pane" role="tabpanel" aria-hidden="true"    aria-labelledby="tab-1" style="display: none;">
            <form method="post" action="/admin/login/loginrenew.html" class="am-form" data-submit data-am-validator>

              <div data-v-1946652a="" class="el-input el-input--large"><!-- input --><!-- prepend slot -->
                <!--v-if-->
                <div class="el-input__wrapper">
                  <input class="el-input__inner" type="text" name="loginkami" autocomplete="off" tabindex="0" placeholder="登录卡密" id="el-id-1043-2">
                </div><!-- append slot --><!--v-if--></div>
              <div data-v-1946652a="" style="height: 10px;"></div>
              <div data-v-1946652a="" class="el-input el-input--large"><!-- input --><!-- prepend slot -->
                <!--v-if-->
                <div class="el-input__wrapper"><!-- prefix slot --><!--v-if-->
                  <input class="el-input__inner" type="text" autocomplete="off" name="kami" tabindex="0" placeholder="续费卡密" id="el-id-1043-3">
                </div>
              </div>
              <label data-v-1946652a="" class="gouxian el-checkbox el-checkbox--large is-checked">
                            <span class="el-checkbox__input is-checked">
                                <input class="el-checkbox__original" type="checkbox" aria-hidden="false" true-value="1"  name="checkbox" value="1" checked="" false-value="0"><span
                                    class="el-checkbox__inner"></span></span><span class="el-checkbox__label"><span
                      data-v-1946652a="">请阅读并同意</span><span data-v-1946652a="" class="agreement">《用户协议&amp;隐私政策》</span>
                <!--v-if--></span></label>
              <button data-v-1946652a="" ariadisabled="false" type="submit"
                      class="el-button el-button--primary el-button--large button-block"><!--v-if--><span
                      class="el-button__text--expand">续费</span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="el-overlay" style="z-index: 3002;  display: none" >
      <div role="dialog" aria-modal="true" aria-label="用户协议 隐私政策" aria-describedby="el-id-1043-0"
           class="el-overlay-dialog">
        <div class="el-dialog" style="--el-dialog-width: 80%;" tabindex="-1" >
          <header class="el-dialog__header"><span role="heading"
                                                  class="el-dialog__title">用户协议&amp;隐私政策</span>
            <button aria-label="Close this dialog" class="el-dialog__headerbtn" type="button"><i
                    class="el-icon el-dialog__close">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                <path fill="currentColor"
                      d="M764.288 214.592 512 466.88 259.712 214.592a31.936 31.936 0 0 0-45.12 45.12L466.752 512 214.528 764.224a31.936 31.936 0 1 0 45.12 45.184L512 557.184l252.288 252.288a31.936 31.936 0 0 0 45.12-45.12L557.12 512.064l252.288-252.352a31.936 31.936 0 1 0-45.12-45.184z"></path>
              </svg>
            </i></button>
          </header>
          <div id="el-id-1043-0" class="el-dialog__body">
            <div data-v-1946652a="" class="RichText ztext Post-RichText css-1g0fqss"
                 style="height: 600px; overflow: auto;"><p data-v-1946652a="" data-first-child=""
                                                           data-pid="y1BtK9zx">
              在此特别提醒您在注册成为用户之前，请认真阅读本《服务协议》（以下简称“协议”），确保您充分理解本协议中的各项条款。请您谨慎阅读并选择接受或不接受本协议。除非您接受本协议所有条款a否则您无权注册、登录或使用本协议所涉服务。您的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。本协议约定我方与用户之间关于网站软件服务（以下简称“服务”）的权利义务。用户，是指注册、登录、使用本服务的个人或组织。本协议可由我方随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可在本网站中查阅最新版协议条款。在修改协议条款后，如果用户不接受修改后的条款，请立即停止使用我方提供的服务，用户继续使用我方提供的服务将被视为接受修改后的协议。 </p>
              <p data-v-1946652a="" data-pid="aNSjkqYg">一、账号注册</p>
              <p data-v-1946652a="" data-pid="cPmRzuM1">
                1、用户在使用本服务前需要注册一个网站账号。本网站账号应当使用手机号码、邮箱绑定注册，请用户使用尚未与本网站账号绑定的手机号码，以及未被我方协议封禁的手机号码注册本网站账号。我方可以根据用户需求或产品需要对账号注册和绑定的方式进行变更，而无须事先通知用户。 </p>
              <p data-v-1946652a="" data-pid="V-1XkWRQ">
                2、鉴于本网站账号的绑定注册方式，您同意在注册本网站时将允许您的手机号码及手机设备识别码等信息用于注册。 </p>
              <p data-v-1946652a="" data-pid="aP8H1jIb">
                3、在用户注册及使用本服务时，我方需要搜集能识别用户身份的个人信息以便我方可以在必要时联系用户，或为用户提供更好的使用体验。我方搜集的信息包括但不限于用户的姓名、地址；我方同意对这些信息的使用将受限于第三条用户个人隐私信息保护的约束。 </p>
              <p data-v-1946652a="" data-pid="0QJKJvSC">二、用户个人隐私信息保护</p>
              <p data-v-1946652a="" data-pid="QdY6tbhh">
                1、如果我方发现或收到他人举报或投诉用户违反本协议约定的，我方有权不经通知随时对相关内容，包括但不限于用户资料、发布记录进行审查、删除，并视情节轻重对违规账号处以包括但不限于警告、账号封禁、设备封禁、功能封禁的处罚，且通知用户处理结果。 </p>
              <p data-v-1946652a="" data-pid="72s3ODOz">
                2、因违反用户协议被封禁的用户，可以自行与我方联系。其中，被实施功能封禁的用户会在封禁期届满后自动恢复被封禁功能。被封禁用户可提交申诉，我方将对申诉进行审查，并自行合理判断决定是否变更处罚措施。 </p>
              <p data-v-1946652a="" data-pid="FuKn7a8v">
                3、用户理解并同意，我方有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何用户采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应承担由此而产生的一切法律责任。 </p>
              <p data-v-1946652a="" data-pid="TNwfv-p8">
                4、用户理解并同意，因用户违反本协议约定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，用户应当赔偿我方与合作公司、关联公司，并使之免受损害。 </p>
              <p data-v-1946652a="" data-pid="aYz1GWVJ">三、用户发布内容规范</p>
              <p data-v-1946652a="" data-pid="4w5ieNL1">
                1、本条所述内容是指用户使用本网站的过程中所制作、上载、复制、发布、传播的任何内容，包括但不限于账号头像、名称、用户说明等注册信息及认证资料，或文字、语音、图片、视频、图文等发送、回复或自动回复消息和相关链接页面，以及其他使用账号或本服务所产生的内容。 </p>
              <p data-v-1946652a="" data-pid="CPs7BwlG">
                2、用户不得利用本网站账号或本服务制作、上传、复制、发布、传播如下法律、法规和政策禁止的内容： </p>
              <p data-v-1946652a="" data-pid="lZz4VAL9">(1) 反对宪法所确定的基本原则的；</p>
              <p data-v-1946652a="" data-pid="r4MAXMKc"> (2)
                危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的； </p>
              <p data-v-1946652a="" data-pid="7YQYM2Mm">(3) 损害国家荣誉和利益的；</p>
              <p data-v-1946652a="" data-pid="88Zx0JEW">(4) 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
              <p data-v-1946652a="" data-pid="8QgRw7wZ">(5) 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
              <p data-v-1946652a="" data-pid="hiXSluEO">(6) 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
              <p data-v-1946652a="" data-pid="AoO5z1xA"> (7)
                散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的； </p>
              <p data-v-1946652a="" data-pid="jZ2WylRE">(8) 侮辱或者诽谤他人，侵害他人合法权益的；</p>
              <p data-v-1946652a="" data-pid="Pd24vM9L">(9) 含有法律、行政法规禁止的其他内容的信息。</p>
              <p data-v-1946652a="" data-pid="PCVhpv9O">
                3、用户不得利用本网站账号或本服务制作、上载、复制、发布、传播如下干扰本网站正常运营，以及侵犯其他用户或第三方合法权益的内容： </p>
              <p data-v-1946652a="" data-pid="FaXU22XN">(1) 含有任何性或性暗示的；</p>
              <p data-v-1946652a="" data-pid="Ysr1cCCZ">(2) 含有辱骂、恐吓、威胁内容的；</p>
              <p data-v-1946652a="" data-pid="Ewp7Pz6F"> (3) 含有骚扰、垃圾广告、恶意信息、诱骗信息的； </p>
              <p data-v-1946652a="" data-pid="T08-t33G">(4) 涉及他人隐私、个人信息或资料的；</p>
              <p data-v-1946652a="" data-pid="lqajJQvq"> (5)
                侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的； </p>
              <p data-v-1946652a="" data-pid="8J9bCtRM"> (6)
                含有其他干扰本服务正常运营和侵犯其他用户或第三方合法权益内容的信息。 </p>
              <p data-v-1946652a="" data-pid="65crbzy8">四、使用规则</p>
              <p data-v-1946652a="" data-pid="NXvp0JNZ">
                1、用户在本服务中或通过本服务所传送、发布的任何内容并不反映或代表，也不得被视为反映或代表我方的观点、立场或政策，我方对此不承担任何责任。 </p>
              <p data-v-1946652a="" data-pid="vg6a8V9d">
                2、用户不得利用本网站账号或本服务进行如下行为： </p>
              <p data-v-1946652a="" data-pid="XKkM8k_9"> (1)
                提交、发布虚假信息，或盗用他人头像或资料，冒充、利用他人名义的； </p>
              <p data-v-1946652a="" data-pid="E5DMLRmG"> (2)
                强制、诱导其他用户关注、点击链接页面或分享信息的； </p>
              <p data-v-1946652a="" data-pid="4LgxUJTH">(3) 虚构事实、隐瞒真相以误导、欺骗他人的；</p>
              <p data-v-1946652a="" data-pid="Dw5q89WK">(4) 利用技术手段批量建立虚假账号的；</p>
              <p data-v-1946652a="" data-pid="ltpTKl94"> (5)
                利用本网站账号或本服务从事任何违法犯罪活动的； </p>
              <p data-v-1946652a="" data-pid="Huc5mm5z"> (6)
                制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的； </p>
              <p data-v-1946652a="" data-pid="73AfdSSa"> (7)
                其他违反法律法规规定、侵犯其他用户合法权益、干扰本网站正常运营或我方未明示授权的行为。 </p>
              <p data-v-1946652a="" data-pid="yjhBOycS">
                3、用户须对利用本网站账号或本服务传送信息的真实性、合法性、无害性、准确性、有效性等全权负责，与用户所传播的信息相关的任何法律责任由用户自行承担，与我方无关。如因此给我方或第三方造成损害的，用户应当依法予以赔偿。 </p>
              <p data-v-1946652a="" data-pid="cr3lk3_s">
                4、我方提供的服务中可能包括广告，用户同意在使用过程中显示我方和第三方供应商、合作伙伴提供的广告。除法律法规明确规定外，用户应自行对依该广告信息进行的交易负责，对用户因依该广告信息进行的交易或前述广告商提供的内容而遭受的损失或损害，我方不承担任何责任。 </p>
              <p data-v-1946652a="" data-pid="OCqeQrQH">五、其他</p>
              <p data-v-1946652a="" data-pid="hmLR8s6k">
                1、我方郑重提醒用户注意本协议中免除我方责任和限制用户权利的条款，请用户仔细阅读，自主考虑风险。未成年人应在法定监护人的陪同下阅读本协议。 </p>
              <p data-v-1946652a="" data-pid="2jcky6Nu">
                2、本协议的效力、解释及纠纷的解决，适用于中华人民共和国法律。若用户和我方之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户同意将纠纷或争议提交我方住所地有管辖权的人民法院管辖。 </p>
              <p data-v-1946652a="" data-pid="fijSivST">
                3、本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效，对双方具有约束力。 </p>
              <p data-v-1946652a="" data-pid="bvrQrM5s">
                4、本协议最终解释权归我方所有，据免责条款特此声明：该网站注册及用户协议与本站无关By：TG：@v8110。 </p>
            </div>
          </div><!--v-if--></div>
      </div>
    </div>
  </div>
</div>


</body>

<script src="/assets/login/jquery-1.8.0.min.js"></script>
<script type="text/javascript">
  $("#tab-1").click(function () {
    $("#tab-0").removeClass("is-active");
    $("#tab-1").addClass("is-active");
    $(".el-tabs__active-bar").css("transform","translateX(190px)");
    $("#pane-0").css("display","none")
    $("#pane-1").css("display","")
    return false;

  })
  $("#tab-0").click(function () {
    $("#tab-1").removeClass("is-active");
    $("#tab-0").addClass("is-active");
    $(".el-tabs__active-bar").css("transform","translateX(0px)")
    $("#pane-1").css("display","none")
    $("#pane-0").css("display","")
    return false;
  })
  $(".agreement").click(function () {
    $(".el-overlay").css("display","");
    return false;
  })
  $(".el-dialog__headerbtn").click(function () {
    $(".el-overlay").css("display","none");
    return false;
  })
  $(".gouxian").click(function () {
    var checked = $(this).attr("class");
    if (checked.indexOf("is-checked") > -1) {
      $(this).removeClass('is-checked')
      $(this).children(".el-checkbox__input").removeClass('is-checked');
      $(".gouxian").children(".el-checkbox__input").children("input[name=checkbox]").val('')

    }
    else{
      $(this).addClass('is-checked')
      $(this).children(".el-checkbox__input").addClass('is-checked');
      $(".gouxian").children(".el-checkbox__input").children("input[name=checkbox]").val(1)
    }
    return false;
  })
  $("#submit_login").on("click",function(){

    $.ajax({
      url: location.origin+'/api/Login/ServerLogin',
      type: 'post',
      dataType : "json",
      
      data : { kami : $("#kami").val() },
      dataType: 'json',
    
      success: function(res){
          console.log(res)
          
           if(res.code==1){
    	       sessionStorage.setItem('token',res.data.token); 
    	        sessionStorage.setItem('admintitle',res.data.admin_title.name); 
    	       location.href=location.origin+"/admin/index/chats.html"
    	   }
    	   else{
    	       alert(res.msg);
    	   }
      },
      
    
    })

  })
</script>
</html>